body {

    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(208, 218, 222);
    padding: 20px;
}


h2 {

    color: rgb(44, 62, 80);
    text-align: center;
    margin-bottom: 20px;
}

form {
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 20px;
    margin-bottom: 30px;
}

input[type=text],
input[type=email],
input[type=date] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=radio],
input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;
}

input[type=submit],
input[type=reset] {
    background-color: green;
    color: white;
    padding: 12px;
    margin: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    font-size: 16px;
}

input[type=reset] {
    background-color: rgb(108, 117, 125);
}

input[type=submit]:hover {
    background-color: rgb(14, 71, 17);
}

input[type=reset]:hover {
    background-color: rgb(90, 98, 104);
}

ul {
    border-radius: 5px;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(99, 117, 143);

}

ul li {
    float: left;
    margin-bottom: 10px;
}

ul a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px;
    font-size: 18px;
}

ul a:hover {
    color: rgb(17, 18, 18);
}