body {
    background-color: aliceblue;
}

h2 {
    color: rgba(0, 0, 0, 0.671);
}

/*navigation bar*/
nav ul {
    list-style: none;
    text-align: center;
    background: rgb(44, 62, 80);
    padding: 15px;
    border-radius: 5px;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
}

nav a:hover {
    background: darkcyan;
    border-radius: 3px;
}

/*Education layout*/

.education-container {
    display: flex;
    align-items: center;
    background: white;
    margin: 20px auto;
    padding: 15px;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.education-container img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border-radius: 8px;
}

.education-info h3 {
    margin: 0;
    font-size: 20px;
}

.education-info p {
    margin: 5px 0;
}

.education-container:hover {
    transform: translateY(-5px) scale(1.04);
    background: #e9f6ff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}