body {
    background-color: aliceblue;
}

h2 {
    color: black;
}

/*navigation bar*/
nav ul {
    list-style: none;
    text-align: center;
    background: rgb(44, 62, 80);
    padding: 15px;
    border-radius: 5px;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
}

nav a:hover {
    background: darkcyan;
    border-radius: 3px;
}