body {
    background-color: aliceblue;
}

h2 {
    color: black;
}

form [type=text] {
    width: 60%;
    margin: 10px 0;
    box-sizing: border-box;
}

nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.805)
}

nav ul li {
    margin: 0;
}

nav ul a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

nav ul a:hover {
    background-color: black;
}